@import "tailwindcss";

/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #f1f5f9;
    --foreground: #1e293b;

    --primary: #0068ff;
    --primary-foreground: #f1f5f9;

    --secondary: #a21caf;
    --secondary-foreground: #f1f5f9;

    --success: #22c55e;
    --success-foreground: #f1f5f9;

    --warning: #eab308;
    --warning-foreground: #f1f5f9;

    --error: #ef4444;
    --error-foreground: #f1f5f9;

    --muted: #4f7091;
    --muted-foreground: #f1f5f9;

    @variant dark {
      --background: #0f172a;
      --foreground: #f1f5f9;
    }
  }

  /* .dark {
    --background: #0f172a;
    --foreground: #f1f5f9;
  } */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--foreground) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

*::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 10px;
  border: 10px solid var(--foreground);
}
/* ===== End Scrollbar CSS ===== */

body {
  @apply bg-background text-foreground;
}
